/node_modules
.env
package-lock.json
/src/common/types
/src/common/errors 
/src/infrastructure/logger
/src/infrastructure/transports
/src/infrastructure/validator
/src/bootstrap.ts
Dockerfile
/docker
/dist